@font-face {
  font-family: OPTIwtcGoudy-Regular;
  src: url(resources/OPTIwtcGoudy-Regular.otf);
}
.header {
  text-align: left;
  color: white;
  background-color: #333333;
  padding-bottom: 32px;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  flex-direction: column;
  background-color: #1b1b1b;
}

.headerLogo {
  font-size: 24px;
  display: inline-block;
  padding: 16px;
}

.headerLink {
  color: white;
  padding: 4px;
  text-decoration: auto;
  transition: all 0.25s linear;
}

.headerLink:hover {
  transform: translateY(-5%);
  color: black;
}

.header-right {
  float: right;
  font-size: 18px;
  display: flex;
  font-family: OPTIwtcGoudy-Regular;
  padding: 16px;
}

.bodyHeader {
  display: flex;
  background-color: #333333;
  font-family: OPTIwtcGoudy-Regular;
  padding: 80px;
}

.bodyHeader-left {
  display: flex;
  flex-direction: column;
  padding-left: 32px;
  width: 60%;
  align-items: center;
}

.bodyHeader-right {
  margin: auto;
}

.bodyHeader-text {
  color: #f9faf8;
  font-size: 48px;
}

.bodyHeader-subtext {
  color: #e5e7eb;
  font-size: 18px;
  text-indent: 50px;
}

.bodyInformation {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: OPTIwtcGoudy-Regular;
  padding: 20px;
}

.bodyInformation-title {
  font-size: 36px;
  font-weight: bolder;
  color: white;
}

.bodyModal {
  display: flex;
  justify-content: center;
  margin: 24px;
  background-color: #1b1b1b;
}

.bodyModalDiv {
  background-color: #1b1b1b;
}

.bodyQuote {
  display: flex;
  font-family: OPTIwtcGoudy-Regular;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a8a8a8;
}

.bodyQuote-author {
  color: black;
  margin-left: auto;
  padding-right: 200px;
  font-size: 18px;
}

.bodyQuote-text {
  padding-left: 144px;
  padding-right: 144px;
  font-size: 36px;
  color: black;
  margin-bottom: 0;
}

.contentImage {
  margin-left: auto;
  padding-top: 8px;
  margin-bottom: 24px;
  padding-left: 24px;
  scale: 1.5;
}

.footer {
  background-color: #1b1b1b;
  // background: #1b1b1b;
  display: flex;
  width: 100%;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
}

.icon {
  color: white;
  font-size: 26px;
  font-weight: 700;
  background: #333333;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.informationBox {
  height: 150px;
  width: 150px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 8px;
}

.informationBox:hover {
  transform: translateY(-3%);
}

.informationBoxRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: inherit;
}

.informationBox:hover + .informationBoxText {
  transform: scale(1.5);
}

.informationBoxImage {
  height: 150px;
  width: 150px;
}

.informationBoxText {
  margin: 8px;
  text-align: center;
  color: #e5e7eb;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.2);
  display: flex;
  gap: 16px;
  padding: 16px;
  font-family: OPTIwtcGoudy;
}

.modalButton {
  padding: 8px 16px;
  border-radius: 8px;
  border: 2px solid #1b1b1b;
}

.modalButtons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
}

.modalText {
  margin-bottom: 16px;
}

.modalHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.modalLink {
  text-decoration: none;
}

.close-button {
  margin-left: auto;
}
